<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>City List</title>
</head>
<body>
<p>
    <a href="/">Back to home</a>
</p>
<p>
    <a href="/city/create">Create new city</a>
</p>
<h1>City List</h1>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<table id="cities" border="1">
    <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Acreage(km2)</th>
        <th>Population</th>
        <th>GDP</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each ="city: ${cities}">
        <tr>
            <td th:text="${city.name}"></td>
            <td th:text="${city.country.name}"></td>
            <td th:text="${city.acreage}"></td>
            <td th:text="${city.population}"></td>
            <td th:text="${city.GDP}"></td>
            <td th:text="${city.description}"></td>
            <td><a th:href="@{/city/edit/__${city.id}__ }">Edit</a></td>
            <td><a th:href="@{/city/delete/__${city.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>